body,div,input,h1,h2,h3,form,ul,li,p,label,i{
    box-sizing: border-box;
}

ul,li{
    list-style: none;
}

body{
    background: #FEDFE1;
    color: #1C1C1C;
}

.container{
    width: 600px;
    min-height: 500px;
    margin: 20px auto;
    border: 5px solid #CB1B45;
    border-radius: 5px;
}

.header{
    padding: 10px;
    border-bottom: 5px solid #CB1B45;
    display: flex;
    justify-content: space-between;
}

.title{
    font-size: 40px;
}

.add .txt{
    width: 450px;
    height: 40px;
    border: 1px solid #CB1B45;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}

.add .txt:focus{
    outline: none;
    border: 2px solid #CB1B45;
}

.main{
    padding: 10px;
}

.todoList .todo{
    padding: 5px;
    background: rgba(203, 27, 69, 0.1);
    border-top: 1px solid #CB1B45;
    display: flex;
    justify-content: space-between;
}

.todoList .todo:first-child{
    border: none;
}

.todoList .todo:hover{
    background: rgba(203, 27, 69, 0.3);
}

.todoList .todo .txt{
    font-size: 30px;
}

.todoList .todo .delete{
    font-size: 20px;
    padding: 5px;
}

.todoList .todo .delete:hover{
    cursor: pointer;
}



@media screen and (max-width: 650px) {

.container{
    width: 100%;
    margin: 0 auto;
}

.header{
    padding: 5px;
}

.title{
    font-size: 30px;
    width: 100px;
}

.add{
    flex: 1;
}

.add .txt{
    width: 100%;
    height: 30px;
    font-size: 14px;
}

.main{
    padding: 5px;
}

}