.p-main{
    background-color: $main-bg-color;
    color: $main-color;

    &__inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}