.c-accordion{
    width: 100%;
    box-sizing: border-box;

    &__head{
        border: 2px solid #1c1c1c;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;

        &-hover:hover{
            background-color: rgba($color: #1c1c1c, $alpha: 0.1);
        }
    }

    &__title{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        position: relative;
        padding: 10px 50px 10px 10px;

        &::after{
            content: "\02795";
            font-size: 30px;
            color: #1c1c1c;
            position: absolute;
            right: 20px;
            top: calc(50% - 20px);
        }
    }

    &__body{
        font-size: 16px;
        display: none;

        &__inner{
            padding: 10px;
            border: 2px solid #1c1c1c;
            border-radius: 4px;
        }
    }
}

.js-accordion-active{
    > .c-accordion__title::after{
        content: "\2796";
    }
    
    &.c-accordion__body{
        display: inline;
    }
}

@media screen and (max-width: 767px){

}